<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
      	<li><%= link_to "Home", comments_path %></li>
      	<li><%= link_to "Comments", comments_path %></li>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
